body {
  margin: 0;
}

.home-container {
  text-align: center;
}

.material-icons-clear:hover {
  color: #00bcd4 !important;
}

.name-url {
  text-decoration: none;
  color: #00bcd4;
  font-size: 16px;
}

.first-column {
  width: 35%;
}

.first-column,
.second-column,
.third-column,
.fourth-column {
  text-align: center !important;
}