body {
  margin: 0;
}

.home-container {
  text-align: center;
}

.material-icons-clear:hover {
  color: #00bcd4 !important;
}

.name-url {
  text-decoration: none;
  color: #00bcd4;
  font-size: 16px;
}

.first-column {
  width: 45%;
}

.first-column,
.second-column,
.third-column,
.fourth-column {
  text-align: center !important;
}

.snackbar {
  position: fixed;
  bottom: 0;
  left: calc(50% - 150px);
  width: 300px;
  height: 48px;
  line-height: 48px;
  background: rgba(0, 0, 0, 0.87);
  color: #fff;
  font-family: Roboto, sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: bottom 0.5s ease;
  &.hide {
    bottom: -48px;
  }
}

.btn {
  margin: 15px 40px;
}